:root {
  --box-shadow: 0px 21px 32px 0px rgba(8, 40, 34, 0.40);
  --far-box-shadow: 0px 21px 12px 2px rgba(18, 40, 34, 0.13);
  --color-bg: #801d79;
  --color-dark: #600d59;
  --color-darkest: #400029;
  --bg-gradient: linear-gradient(301deg, #ce055c, #f0ba13, #bd00db);
  --gradient: linear-gradient(-55deg, #1493f1 0%, #8fc2f9 100%);
  --fig-max-width: 80%;
  --fig-max-height: 80%;
  --fig-min-width: 30%;
  --fig-min-height: 35%;
  --delay-base: 500ms;
  --delay-added: 100ms;
  --acc-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

*,
*:before,
*:after{
  box-sizing:border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}


@-webkit-keyframes background_colors {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-moz-keyframes background_colors {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-o-keyframes background_colors {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@keyframes background_colors { 
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
html, body {
  height: 100%;
}

body{
  overflow: hidden;
  background: var(--bg-gradient);
  background-size: 600% 600%;

  -webkit-animation: background_colors 11s ease infinite;
  -moz-animation: background_colors 11s ease infinite;
  -o-animation: background_colors 11s ease infinite;
  animation: background_colors 11s ease infinite;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background: var(--color-bg); */
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img{
  width: 100%;
  height: auto;
  margin-top: 0;
  border-radius: 42px 42px;
  box-shadow: var(--box-shadow);
  /* animation: popInImg 700ms var(--acc-back) 1 forwards; */
  /* animation-delay: var(--delay-base); */
  opacity: 1;
}

figure{
  position: fixed;
  max-width: var(--fig-max-width);
  max-height: var(--fig-max-height);
  min-width: var(--fig-min-width);
  min-height: var(--fig-min-height);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* transition: transform 600ms var(--acc-back); */
}

/* figure:hover{
  transform: scale(1.05)
} */

figcaption{
  transition: transform 600ms var(--acc-back), opacity 100ms ease-in;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

figure:hover img{
  box-shadow: var(--far-box-shadow);
}

@keyframes popInImg{
  0%{
    transform: skewY(5deg) scaleX(.89) scaleY(.89);
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

figcaption span{
  position: absolute;
  display: block;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-sans-serif);
  text-shadow: var(--box-shadow);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

@keyframes popIn{
  0%,13%{
    transform: scaleX(.89) scaleY(.75);
    opacity: 0;
  }
  100%{
    transform: skewY(-13deg);
    opacity: 1;    
  }
}

figcaption span:nth-of-type(1){
  top: 0px; left: 20px;
  font-size: 89px;
  font-family: var(--font-display);
  animation-delay: calc(var(--delay-base) + 2 * var(--delay-added));
}

figcaption span:nth-of-type(2){
  bottom: 10px; right: 20px;
  font-size: 89px;
  font-weight: 900;
  font-family: var(--font-display);
  animation-delay: calc(var(--delay-base) + 3 * var(--delay-added));
}

figcaption span:nth-of-type(3){
  bottom: -48px; right: 20px;
  font-size: 48px;
  font-weight: 300;
  animation-delay: calc(var(--delay-base) + 4 * var(--delay-added));
  -webkit-text-stroke-width: 1px;
}

@media screen and (max-width: 539px){
  figcaption span:nth-of-type(3){
    font-size: 14px;
  }
  
  figcaption span:nth-of-type(1),
  figcaption span:nth-of-type(2){
    font-size: 70px;
  }
}