
meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="author" content="Shawn Blakesley")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@BlakesleyShawn")
meta(name="twitter:title" content="Shawn of the Dev")
meta(name="twitter:description" content="Come check out my personal website")
meta(name="twitter:image" content="https://shawnofthe.dev/images/carousel.jpg")
link(rel="shortcut icon" href="/images/favicon.png" type="image/x-icon")
link(rel="stylesheet" href="/css/styles.css" media="screen")
link(rel="stylesheet" href="/css/fa.css" media="all")
link(rel="preload" as="font" href="/data/fa-brands-400" type="font/woff2" crossorigin="anonymous")