doctype html
html(lang="en")
  head
    include ../../includes/head
    title Alphabet Game - Shawn Of The Dev
    meta(name="description" content="An alphabet game for Teddy")
    script(language="javascript" type="text/javascript" src="/js/p5.min.js")
    script(language="javascript" type="text/javascript" src="/js/p5.speech.js")
  body(style="overflow:hidden;")
    script(async language="javascript" type="text/javascript" src="/js/alphabet_game/sketch.js")