include ../../includes/mixins

doctype html
html(lang="en" style="overflow: hidden;")
  head
    include ../../includes/head
    title AI - Shawn Of The Dev
    meta(name="description" content="AI practice fun space.")

    script(language="javascript" type="text/javascript" src="/js/p5.min.js")
    script(language="javascript" type="text/javascript" src="/js/ai/sketch.js")
  body
    include ../../includes/header
    #p5
    include ../../includes/footer