@font-face {
    font-family: "Grotesque";
    font-weight: lighter;
}

@font-face {
    font-family: "Grotesque Black";
    font-weight: normal;
}

$big-stone:#152536;
$big-stone-dark:#071218;
$white: #f0f0ff;
$smalt-blue:#4e758b;
$dark-maroon-flush:#A31331;
$maroon-flush:#C32361;
$black:#000;
$lite-grey:rgba($black, .2);
$lite-big-stone:rgba($big-stone, .7);

$controls-width:500px;
$controls-height:400px;
$controls-width-small:90vw;
$controls-height-small:480px;

$card-width:350px;
$card-height:350px;

$thumb-height:260px;

$margin:12px;
$border-radius:5px;
$box-shadow:0 1px 4px rgba($black, .3);
$dark-box-shadow:0 1px 4px rgba($black, .5);
$button-shadow:0px 10px 10px rgba($black, .9);
$icon-shadow:0 4px 6px rgba($maroon-flush, .4);
$icon-shadow-hover:0 4px 12px rgba($maroon-flush, .6);
$transition: cubic-bezier(.17, .67, .5, 1.03);
$timing-1:.3s .20s;
$timing-2:.2s .15s;
$timing-3:.4s .25s;
$timing-4:.5s .35s;

$grotesque-black:'Grotesque Black',
sans-serif;
$grotesque-regular:'Grotesque',
sans-serif;
$merriweather:'Merriweather',
sans-serif;

@mixin pos($pos, $left:null, $top:null, $right:null, $bottom:null) {
    position: $pos;
    left: $left;

    @if $top {
        top: $top;
    }

    @if $left {
        left: $left;
    }

    @if $right {
        right: $right;
    }

    @if $bottom {
        bottom: $bottom;
    }
}

@mixin size($width, $height) {
    max-width: $width;
    min-width: $width;
    width: $width;
    height: $height;
}

* {
    box-sizing: border-box;
}

.header a {
    text-decoration: none;
    color: $white;
    text-shadow: $icon-shadow;
    transition: $timing-2 $transition;

    &:hover {
        color: $white;
        text-shadow: $icon-shadow-hover;
    }
}

html,
body {
    font-size: 100%;
}

.icons-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: $white;
    font-size: 1.5em;
}

.icon {
    padding: 0.4em 0.6em;
    text-shadow: $icon-shadow;
}

.icon:hover {
    background-color: rgba($maroon-flush, 0.2);
    border-radius: $border-radius;
}

.footer {
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: .6em;
}

h1,
h2,
h4,
h5 {
    color: $white;
    font-family: $grotesque-black;
    text-transform: uppercase;
    text-shadow: 0 0 5px lighten($big-stone, 20);
    margin: auto;
    margin-left: $margin;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding: .5em;
    text-shadow: $icon-shadow;
}

section+section {
    margin-top: 1.5rem;
}

body {
    padding: 0;
    margin: 0;
    background: $big-stone;
    background: linear-gradient(90deg, $big-stone-dark 0%, $big-stone 20%, $big-stone 80%, $big-stone-dark 100%);
}

.note {
    margin-top: 30px;
    color: $white;
    font-size: 1rem;
    font-family: $merriweather;
    line-height: 1.5;
    text-align: center;
}

.main {
    margin: auto;
    width: 85%;

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    border-top: solid;
    border-width: thin;
    border-radius: $border-radius;
    border-color: rgba($white, .5);
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flipped3,
.flipped2 {
    img {
        transform: scaleX(-1);
    }
}

.flipped3,
.flipped1 {
    img {
        transform: scaleY(-1);
    }
}

.chip {
    background-color: rgb(232, 234, 246);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
    color: rgb(194, 24, 91);
    display: inline-block;
    font-family: "Inconsolata", monospace;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    list-style-type: none;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    text-align: center;
    box-shadow: $box-shadow;
}

a.button {
    font-family: $merriweather;
    appearance: button;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background-color: $maroon-flush;
    padding: 1.0em;
    border-radius: $border-radius;
    text-shadow: $dark-box-shadow;
    width: 100%;
    font-size: 1.1em;
    margin: auto;
}

a.link {
    @include pos(absolute, null, null, 0px, -2.2em);
    transform: translate(0%, -100%) translateZ(0);
}

article.card {
    @include size($card-width, $card-height);
    transform: translate(0%, 0%) translateZ(0);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    margin: $margin;
    background-color: $maroon-flush;

    .thumb-no-hover,
    .thumb {
        @include size(100%, $thumb-height);
        object-fit: cover;
        background-size: cover;
        border-radius: $border-radius $border-radius 0 0;
        transition: $timing-1 $transition;
    }

    .infos-no-hover,
    .infos {
        @include size(auto, $card-height);
        position: relative;
        padding: 14px 24px;
        background: $white;
        transition: $timing-2 $transition;
        border-radius: 0;

        .title {
            position: relative;
            margin: 10px 0;
            letter-spacing: 3px;
            color: $big-stone;
            font-family: $grotesque-black;
            font-size: 1rem;
            text-transform: uppercase;
            text-shadow: 0 0 0px lighten($big-stone, 20);
        }

        .company,
        .date {
            margin-bottom: 5px;
            text-transform: uppercase;
            font-size: .85rem;
            color: $lite-big-stone;
            font-family: $grotesque-regular;
        }

        .date {
            display: inline-block;
            margin-bottom: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid $lite-grey;
            opacity: 0;
            color: $smalt-blue;
            font-weight: lighter;
            transition: $timing-3 $transition;
        }

        .txt {
            font-family: $merriweather;
            line-height: 1.2;
            font-size: .95rem;
            color: $lite-big-stone;
            opacity: 0;
            transition: $timing-3 $transition;
        }
    }

    .thumb-no-hover,
    &:hover .thumb {
        filter: blur(10px) grayscale(80%);
    }

    .infos-no-hover,
    &:hover .infos {
        transform: translateY(-$thumb-height + 20);
        border-radius: $border-radius;

        .date,
        .txt,
        .details {
            opacity: 1;
        }

    }
}


// For sample pages
#sample-description {
    color: white;
    font-size: 1.2em;
    margin: auto;
    max-width: 400px;
}

// Range Slider
$range-handle-color: $dark-maroon-flush;
$range-handle-color-hover: $maroon-flush;
$range-handle-size: 20px;

$range-track-color: $maroon-flush;
$range-label-color: $dark-maroon-flush;

.sample-controls {
    clip-path: circle(20px at top 40px left 40px);
    left: 0px;
    position: absolute;
    top: 40px;
    transition: $timing-1 $transition;

    svg {
        color: $maroon-flush;
        transition: $timing-2 $transition;
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 100;
        top: 28px;
        left: 28px;
        opacity: 1;
    }

    &:hover {
        opacity: 1;
        clip-path: circle(100% at center);

        article.card {
            background-color: $maroon-flush;
            opacity: 1;
        }

        svg {
            opacity: 0;
        }
    }

    article.card {
        opacity: 0;
        transition: $timing-3 $transition;
        background-color: $white;
        @include size($controls-width, auto);

        @media screen and (max-width: 550px) {
            @include size($controls-width-small, auto);
        }

        .thumb-no-hover,
        .thumb {
            @include size(100%, 20px);
            object-fit: cover;
            background-size: cover;
            border-radius: $border-radius $border-radius 0 0;
            transition: $timing-1 $transition;
        }

        .infos-no-hover,
        &:hover .infos {
            transform: translateY(0);
        }

        .infos-no-hover,
        .infos {
            @include size(auto, auto);

            @media screen and (max-width: 550px) {
                @include size(auto, auto);
            }

            .controls-list {
                display: flex;
                flex-wrap: wrap;

                button {
                    background-color: $maroon-flush;
                    border-radius: 2 * $border-radius;
                    color: $white;
                    flex-basis: 50%;
                    font-size: .8em;
                    padding: 6px;
                    text-transform: uppercase;
                }

                label {
                    font-size: .8em;
                    font-family: $merriweather;
                    background-color: $maroon-flush;
                    border-radius: 2 * $border-radius;
                    color: $white;
                    flex-basis: 20%;
                    margin-bottom: 4px;
                    margin-top: 4px;
                    padding: .8em 2px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: .8em;
                }

                .sample-select {
                    flex-basis: 100%;

                    select {
                        text-transform: uppercase;
                        font-size: .8em;
                        width: 100%;
                    }
                }

                .controls-next {
                    margin-left: auto;
                    text-transform: none;
                }

                .break-line {
                    align-content: center;
                    background-color: $big-stone-dark;
                    flex-basis: 100%;
                    height: 1px;
                    width: 90%;
                    margin-bottom: 5px;
                    margin-top: 10px;
                }

                input {
                    flex-basis: 79%;
                }

                .color-input {}


                .slide-input {
                    -webkit-appearance: none;
                    background-color: $smalt-blue;
                    border-radius: 5px;
                    height: 10px;
                    margin: auto auto;
                    outline: none;

                    // Range Handle
                    &::-webkit-slider-thumb {
                        appearance: none;
                        width: $range-handle-size;
                        height: $range-handle-size;
                        border-radius: 50%;
                        background: $range-handle-color;
                        cursor: pointer;
                        transition: background .15s ease-in-out;

                        &:hover {
                            background: $range-handle-color-hover;
                        }
                    }

                    &:active::-webkit-slider-thumb {
                        background: $range-handle-color-hover;
                    }

                    &::-moz-range-thumb {
                        width: $range-handle-size;
                        height: $range-handle-size;
                        border: 0;
                        border-radius: 50%;
                        background: $range-handle-color;
                        cursor: pointer;
                        transition: background .15s ease-in-out;

                        &:hover {
                            background: $range-handle-color-hover;
                        }
                    }

                    &:active::-moz-range-thumb {
                        background: $range-handle-color-hover;
                    }

                    // Focus state
                    &:focus {
                        &::-webkit-slider-thumb {
                            box-shadow: 0 0 0 3px $smalt-blue,
                                0 0 0 6px $maroon-flush;
                        }
                    }
                }
            }
        }
    }
}