include ../../includes/mixins

doctype html
html(lang="en")
  head
    include ../../includes/head
    title Algorithms - Shawn Of The Dev
    meta(name="description" content="Algorithm visualizations for fun and practice.")
    script(language="javascript" type="text/javascript" src="/js/p5.min.js")
    script(language="javascript" type="text/javascript" src="/js/p5.easycam.min.js")
  body
    include ../../includes/header
    #p5(oncontextmenu="return false;")
    .sample-description-button(onclick="show()")
      svg(viewBox="0 0 100 80" width="20" height="20")
        g(color="white")
          rect(width="100" height="15" rx="8" fill="currentcolor")
          rect(y="30" width="100" height="15" rx="8" fill="currentcolor")
          rect(y="60" width="100" height="15" rx="8" fill="currentcolor")


    #gol-description.sample-description
      +card("Game of Life")
        p This example follows the basic rules from Conway's Game of Life.
        p - If a dead cell is neighboring exactly 3 living cells it will come back to life.
        p - If a living cell is neighboring less that 2 or greater than 3 live cells it will die.
        p Red <span style="color: rgb(160, 20, 60);font-size: 1.5em;">&#9632;</span> indicates a recent cell death, and green <span style="color: rgb(50, 220, 130);font-size: 1.5em;">&#9632;</span> indicates a new cell birth.
        button.sample-button.sample-pause(onclick="togglePause(this)") Pause
        button.sample-button(onclick="regenerate()") Regenerate
        // button.sample-next(onclick="nextAlgorithm()") Game Of Life 3D // TODO: make this into a button that takes to the next algorithm
    #maze-description.sample-description
      +card("Maze")
        button.sample-button(onclick="regenerate()") Regenerate
    #gol3D-description.sample-description
      +card("Game of Life 3D")
        p This example converted Conway's Game of Life to 3 Dimensions.
        p - Spawn cell if head and  9 >= live neighbors >= 5.
        p - Kill cell if living and 9 < live neighbors or live neighbors < 5.
        p Red indicates a recent cell death, and green indicates a new cell birth.
        button.sample-button.sample-pause(onclick="togglePause()") Pause
        button.sample-button(onclick="toggleOrtho(this)") Orthographic View
        button.sample-button(onclick="regenerate()") Regenerate
        // button.sample-next(onclick="nextAlgorithm()") Game Of Life 3D // TODO: make this into a button that takes to the next algorithm
    #algo-picker
    include ../../includes/footer
    script(language="javascript" type="text/javascript" src="/js/algo/sketch.js")