include ../../includes/mixins

doctype html
html(lang="en" style="overflow: hidden;")
  head
    include ../../includes/head
    title AI - Shawn Of The Dev
    meta(name="description" content="Algorithm visualizations for fun and practice.")

    script(language="javascript" type="text/javascript" src="/js/p5.min.js")
    script(language="javascript" type="text/javascript" src="/js/algo/sketch.js")
  body
    include ../../includes/header
    #p5
    include ../../includes/footer