include ../../includes/mixins

doctype html
html(lang="en")
  head
    include ../../includes/head
    title Graphics - Shawn Of The Dev
    meta(name="description" content="Algorithm visualizations for fun and practice.")
    script(language="javascript" type="text/javascript" src="/js/p5.min.js")
    script(language="javascript" type="text/javascript" src="/js/p5.easycam.js")
  body
    include ../../includes/header
    #p5(oncontextmenu="return false;")
    #sample-picker
    include ../../includes/footer
    script(async language="javascript" type="text/javascript" src="/js/graphics/sketch.js")