include ../../includes/mixins

doctype html
html(lang="en")
  head
    include ../../includes/head
    title Graphics - Shawn Of The Dev
    meta(name="description" content="Algorithm visualizations for fun and practice.")
    script(language="javascript" type="text/javascript" src="/js/p5.min.js")
    script(language="javascript" type="text/javascript" src="/js/p5.easycam.js")
  body
    include ../../includes/header
    #p5(oncontextmenu="return false;")
    #controls.sample-controls
      #controls()
        +gear
        +card("Shader")
          .controls-list
            #shader-select.sample-select
            #model-select.sample-select
            .break-line
            label#primary-label(for="primary") Color 1
            input.color-input#primary(type="color" name="primary" value="#ff0000" style="height: auto;margin: 8px 0;")
            label#secondary-label(for="secondary") Color 2
            input.color-input#secondary(type="color" name="primary" value="#ffAA00" style="height: auto;margin: 8px 0;")
            .break-line
            label#shine-label(for="shine") Shine
            input.slide-input#shine(type="range" min="0.0" max="1.0" value="0.5" step="0.01" class="slider")
            label#size-label(for="size") Size
            input.slide-input#size(type="range" min="1.0" max="100.0" value="10.0" step="0.5" class="slider")
            label#border-label(for="border") Border
            input.slide-input#border(type="range" min="0.0" max="1.0" value="0.5" step="0.01" class="slider")
            .break-line
            button.sample-button(onclick="reset()") Reset
    #sample-description
    include ../../includes/footer
    script(async language="javascript" type="text/javascript" src="/js/graphics/sketch.js")